<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dwebss.child.dao.CenterMapper">
  <resultMap id="centerMap" type="kr.co.dwebss.child.model.Center">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CENTER_ID" jdbcType="INTEGER" property="centerId" />
    <result column="CENTER_NM" jdbcType="VARCHAR" property="centerNm" />
    <result column="CENTER_ADDR" jdbcType="VARCHAR" property="centerAddr" />
    <result column="CENTER_PHONE" jdbcType="VARCHAR" property="centerPhone" />
    <result column="CONFRIM_YN" jdbcType="VARCHAR" property="confrimYn" />
  </resultMap>
  
    <sql id="WhereQuery">
	WHERE 1=1
		<if test="searchCondition=='centerNm' and searchKeyword!='' and searchKeyword!=null">
			AND CENTER_NM LIKE CONCAT('%',#{ searchKeyword },'%')
		</if>	
	</sql>
  
    <insert id="insertCenter" parameterType="kr.co.dwebss.child.model.Center" >
    	<selectKey resultType="INTEGER" keyProperty="centerId" order="BEFORE">
            SELECT COALESCE(MAX(CENTER_ID)+1,0) FROM CENTER
        </selectKey>
		INSERT INTO CENTER (
		    CENTER_ID, 
		    CENTER_NM, 
		    CENTER_ADDR, 
		    CENTER_PHONE 
        )
        VALUES (
	        #{ centerId },
	        #{ centerNm },
	        #{ centerAddr },
	       	#{ centerPhone }
       	)
    </insert>
    
    <select id="selectList" parameterType="kr.co.dwebss.child.model.Center" resultMap="centerMap">
    	SELECT A.* FROM (
			SELECT 
				@rownum := @rownum + 1 as rownum,
				CENTER_ID ,
				CENTER_NM , 
				CENTER_ADDR , 
				CENTER_PHONE,
				CONFRIM_YN
			FROM CENTER, (select @rownum :=0) r
			<include refid="kr.co.dwebss.child.dao.CenterMapper.WhereQuery" />
			ORDER BY CENTER_ID DESC
		) A
		where A.rownum LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>
    
    <select id="selectListCnt" parameterType="kr.co.dwebss.child.model.Center" resultType="INTEGER">
    	SELECT COUNT(*) FROM (
			SELECT 
				CENTER_ID ,
				CENTER_NM , 
				CENTER_ADDR , 
				CENTER_PHONE,
				CONFRIM_YN
			FROM CENTER
			<include refid="kr.co.dwebss.child.dao.CenterMapper.WhereQuery" />
			ORDER BY CENTER_ID
		) A
    </select>
  
    
    
</mapper>