<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dwebss.child.dao.ClassMapper">
  <resultMap id="classMap" type="kr.co.dwebss.child.model.Class">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CLASS_ID" jdbcType="INTEGER" property="classId" />
    <result column="CLASS_NM" jdbcType="VARCHAR" property="classNm" />
    <result column="CENTER_ID" jdbcType="INTEGER" property="centerId" />
    <result column="TEACHER_USER_ID" jdbcType="INTEGER" property="teacherUserId" />
    <result column="TEACHER_USER_NM" jdbcType="VARCHAR" property="teacherUserNm" />
    <result column="CENTER_NM" jdbcType="VARCHAR" property="centerNm" />
    <result column="CLASS_YEAR" jdbcType="VARCHAR" property="classYear" />
  </resultMap>
  
  
  
  
  <sql id="WhereQuery">
	WHERE 1=1
		<if test="searchCondition=='classNm' and searchKeyword!='' and searchKeyword!=null">
			AND CLASS_NM LIKE CONCAT('%',#{ searchKeyword },'%')
		</if>	
	</sql>
	
  
    <select id="selectList" parameterType="kr.co.dwebss.child.model.Class" resultMap="classMap">
    	SELECT A.* FROM (
			SELECT 
				@rownum := @rownum + 1 as rownum,
				CLASS_ID ,
				CLASS_NM , 
				c.CENTER_ID , 
				ct.CENTER_NM , 
				TEACHER_USER_ID ,
				u.USER_NM as TEACHER_USER_NM
			FROM CLASS c, (select @rownum :=0) r, CENTER ct, USER u
			<include refid="kr.co.dwebss.child.dao.ClassMapper.WhereQuery" />
			<if test="centerId !='' and  centerId !=null">
				AND c.CENTER_ID = #{ centerId }
			</if>	
			AND c.CENTER_ID = ct.CENTER_ID
			AND c.TEACHER_USER_ID = u.USER_ID
			ORDER BY CLASS_ID DESC
		) A
		where A.rownum LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>
    
    
    <select id="selectListCnt" parameterType="kr.co.dwebss.child.model.Class" resultType="INTEGER">
    	SELECT COUNT(*) FROM (
			SELECT 
				@rownum := @rownum + 1 as rownum,
				CLASS_ID ,
				CLASS_NM , 
				CENTER_ID , 
				TEACHER_USER_ID 
			FROM CLASS
			<include refid="kr.co.dwebss.child.dao.ClassMapper.WhereQuery" />
			ORDER BY CLASS_ID
		) A
    </select>
    
    
  <select id="selectClass" parameterType="kr.co.dwebss.child.model.Class" resultMap="classMap">
    	SELECT 
			CLASS_ID ,
			CLASS_NM , 
			CENTER_ID , 
			TEACHER_USER_ID 
		FROM CLASS 
		WHERE CENTER_ID = #{ centerId }
    </select>
    
    
    <insert id="insertClass" parameterType="kr.co.dwebss.child.model.Class" >
    	<selectKey resultType="INTEGER" keyProperty="classId" order="BEFORE">
            SELECT COALESCE(MAX(CLASS_ID)+1,0) FROM CLASS
        </selectKey>
		INSERT INTO CLASS (
			CLASS_ID ,
			CLASS_NM , 
			CENTER_ID , 
			TEACHER_USER_ID,
			CLASS_YEAR
        )
        VALUES (
	        #{ classId },
	        #{ classNm },
	        #{ centerId },
	       	#{ teacherUserId },
	       	#{ classYear }
       	)
    </insert>
    
    
  	<select id="insertClassEventThisYear" parameterType="kr.co.dwebss.child.model.Class"
	    resultMap="classMap" statementType="CALLABLE">
	    { call insertClassEventThisYear(
	        #{classId, mode=IN, jdbcType=INTEGER}
	     )
	    }
	</select>
  
  
  
</mapper>