<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dwebss.child.dao.ClassDailyEventMapper">
  <resultMap id="classDailyEventMap" type="kr.co.dwebss.child.model.ClassDailyEvent">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CLASS_DAILY_EVENT_ID" jdbcType="INTEGER" property="classDailyEventId" />
    <result column="EVENT_ORDER" jdbcType="INTEGER" property="eventOrder" />
    <result column="EVENT_DATE" jdbcType="DATE" property="eventDate" />
    <result column="CLASS_ID" jdbcType="INTEGER" property="classId" />
    <result column="DESTINY_NM" jdbcType="VARCHAR" property="destinyNm" />
    <result column="EVENT_ALARM_END_T" jdbcType="INTEGER" property="eventAlarmEndT" />
    <result column="EVENT_ALARM_START_T" jdbcType="INTEGER" property="eventAlarmStartT" />
    <result column="EVENT_CAR_NEED_YN" jdbcType="VARCHAR" property="eventCarNeedYn" />
  </resultMap>
  
  <select id="selectClassEvent" parameterType="kr.co.dwebss.child.model.ClassDailyEvent" resultMap="classDailyEventMap">
    	SELECT 
			CLASS_DAILY_EVENT_ID ,
			EVENT_DATE ,
			EVENT_ORDER ,
			CLASS_ID ,
			DESTINY_NM ,
			EVENT_ALARM_END_T ,
			EVENT_ALARM_START_T ,
			EVENT_CAR_NEED_YN
		FROM CLASS_DAILY_EVENT 
		WHERE 1=1
		AND CLASS_ID = #{classId}
		<if	test="eventDate != null">
			AND EVENT_DATE = DATE_FORMAT( #{ eventDate }, '%Y-%m-%d')
		</if>
    </select>
    
	<delete id="deleteClassDailyEventCenter" parameterType="kr.co.dwebss.child.model.ClassDailyEvent">
		DELETE FROM CLASS_DAILY_EVENT 
		WHERE 1=1 
		AND EVENT_DATE = DATE_FORMAT( #{ eventDate }, '%Y-%m-%d')
		AND (CLASS_ID = #{classId}
		OR CLASS_ID in (SELECT CLASS_ID FROM CLASS WHERE CENTER_ID =  #{ centerId })
		)
	</delete>
	
	<delete id="deleteClassDailyEvent" parameterType="kr.co.dwebss.child.model.ClassDailyEvent">
		DELETE FROM CLASS_DAILY_EVENT 
		WHERE 1=1 
		<if	test="classDailyEventId != null">
		AND CLASS_DAILY_EVENT_ID = #{classDailyEventId}
		</if>
		AND EVENT_DATE = DATE_FORMAT( #{ eventDate }, '%Y-%m-%d')
		AND CLASS_ID = #{classId}
	</delete>
	
	
	
	<insert id="insertEventAllClass" parameterType="kr.co.dwebss.child.model.ClassDailyEvent">
		INSERT INTO class_daily_event
		(CLASS_DAILY_EVENT_ID,EVENT_DATE,EVENT_ORDER,CLASS_ID,
		DESTINY_NM,
		EVENT_ALARM_END_T,
		EVENT_ALARM_START_T,
		EVENT_CAR_NEED_YN)
		select 
		CLASS_DAILY_EVENT_ID,
		EVENT_DATE,
		EVENT_ORDER,
		#{classId} AS CLASS_ID,d
		DESTINY_NM,
		EVENT_ALARM_END_T,
		EVENT_ALARM_START_T,
		EVENT_CAR_NEED_YN
		from class_daily_event
		WHERE 1=1 
		AND EVENT_DATE = DATE_FORMAT( #{ eventDate }, '%Y-%m-%d')
		AND CLASS_ID = #{addCenterId}
		
	</insert>
	
	
	<delete id="deleteClassEvent" parameterType="String">
		DELETE FROM CLASS_DAILY_EVENT 
		WHERE 1=1 
		AND CLASS_ID = #{classId}
	</delete>
	
	<update id="updateClassDailyEvent" parameterType="kr.co.dwebss.child.model.ClassDailyEvent">
		UPDATE CLASS_DAILY_EVENT SET
			EVENT_ORDER = #{ eventOrder },
			DESTINY_NM = #{ destinyNm },
			EVENT_ALARM_START_T = #{ eventAlarmStartT },
			EVENT_CAR_NEED_YN = #{ eventCarNeedYn }
		WHERE 1=1 
		AND CLASS_DAILY_EVENT_ID = #{classDailyEventId}
		AND EVENT_DATE = DATE_FORMAT( #{ eventDate }, '%Y-%m-%d')
		AND CLASS_ID = #{classId}
	</update>
	
	
    
    
  	
  	
  	
</mapper>