<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dwebss.child.dao.ClassMapper">
  <resultMap id="classMap" type="kr.co.dwebss.child.model.Class">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CLASS_ID" jdbcType="INTEGER" property="classId" />
    <result column="CLASS_NM" jdbcType="VARCHAR" property="classNm" />
    <result column="CENTER_ID" jdbcType="INTEGER" property="centerId" />
    <result column="TEACHER_USER_ID" jdbcType="INTEGER" property="teacherUserId" />
  </resultMap>
  
  
  <sql id="WhereQuery">
	WHERE 1=1
		<if test="searchCondition=='codeCategory' and searchKeyword!='' and searchKeyword!=null">
			AND CODE_CATEGORY LIKE CONCAT('%',#{ searchKeyword },'%')
		</if>	
		<if test="searchCondition=='codeValue' and searchKeyword!='' and searchKeyword!=null">
			AND CODE_VALUE LIKE CONCAT('%',#{ searchKeyword },'%')
		</if>	
	</sql>
	
  
    <select id="selectList" parameterType="kr.co.dwebss.child.model.Class" resultMap="classMap">
    	SELECT A.* FROM (
			SELECT 
				@rownum := @rownum + 1 as rownum,
				CLASS_ID ,
				CLASS_NM , 
				CENTER_ID , 
				TEACHER_USER_ID 
			FROM CLASS, (select @rownum :=0) r
			<include refid="kr.co.dwebss.child.dao.ClassMapper.WhereQuery" />
			ORDER BY CLASS_ID DESC
		) A
		where A.rownum LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>
    
    <select id="selectListCnt" parameterType="kr.co.dwebss.child.model.Class" resultType="INTEGER">
    	SELECT COUNT(*) FROM (
			SELECT 
				@rownum := @rownum + 1 as rownum,
				CLASS_ID ,
				CLASS_NM , 
				CENTER_ID , 
				TEACHER_USER_ID 
			FROM CLASS
			<include refid="kr.co.dwebss.child.dao.ClassMapper.WhereQuery" />
			ORDER BY CLASS_ID
		) A
    </select>
  
  
  
</mapper>