<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dwebss.child.dao.UserMapper">
  <resultMap id="userMap" type="kr.co.dwebss.child.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USER_ROLE_CD" jdbcType="INTEGER" property="userRoleCd" />
    <result column="USER_NM" jdbcType="VARCHAR" property="userNm" />
    <result column="USER_PHONE" jdbcType="VARCHAR" property="userPhone" />
    <result column="USER_LOGIN_ID" jdbcType="VARCHAR" property="userLoginId" />
    <result column="USER_PASSWORD" jdbcType="CHAR" property="userPassword" />
    <result column="CENTER_ID" jdbcType="INTEGER" property="centerId" />
    <result column="CONFIRM_YN" jdbcType="CHAR" property="confirmYn" />
    <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
    <result column="USER_ROLE_NM" jdbcType="VARCHAR" property="userRoleNm" />
    <result column="CENTER_NM" jdbcType="VARCHAR" property="centerNm" />
    <result column="CENTER_ADDR" jdbcType="VARCHAR" property="centerAddr" />
    <result column="CENTER_PHONE" jdbcType="VARCHAR" property="centerPhone" />
  </resultMap>
  
 	<sql id="SelectWhereQuery">
	WHERE 1=1
		<if test="userLoginId !='' and  userLoginId !=null">
			AND USER_LOGIN_ID = #{userLoginId}
		</if>	
		<if test="userPassword !='' and  userPassword !=null">
			AND USER_PASSWORD = #{userPassword}
		</if>	
		<if test="userId !='' and  userId !=null">
			AND USER_ID = #{userId}
		</if>	
	</sql>
	
    <sql id="WhereQuery">
	WHERE 1=1
		<if test="searchCondition=='userLoginId' and searchKeyword!='' and searchKeyword!=null">
			AND USER_LOGIN_ID LIKE CONCAT('%',#{ searchKeyword },'%')
		</if>	
		<if test="searchCondition=='userNm' and searchKeyword!='' and searchKeyword!=null">
			AND USER_NM LIKE CONCAT('%',#{ searchKeyword },'%')
		</if>	
		<if test="centerId !='' and  centerId !=null">
			AND CENTER_ID = #{ centerId }
		</if>	
	</sql>
  
  <select id="selectUser" parameterType="kr.co.dwebss.child.model.User" resultMap="userMap">
    	SELECT 
			USER_ID ,
			USER_ROLE_CD , 
			USER_NM , 
			USER_PHONE , 
			USER_LOGIN_ID , 
			USER_PASSWORD , 
			u.CONFIRM_YN , 
			u.CENTER_ID ,
			c.CENTER_NM ,
			c.CENTER_ADDR ,
			c.CENTER_PHONE 
		FROM USER u, CENTER c
		<include refid="kr.co.dwebss.child.dao.UserMapper.SelectWhereQuery" />
		AND u.center_id = c.center_id
    </select>
    
    
    <select id="selectList" parameterType="kr.co.dwebss.child.model.User" resultMap="userMap">
    	SELECT A.* FROM (
			SELECT 
				@rownum := @rownum + 1 as rownum,
				USER_ID ,
				USER_ROLE_CD , 
        		cc.CODE_NM as USER_ROLE_NM,
				USER_NM ,  
				USER_PHONE,
				USER_LOGIN_ID,
				USER_PASSWORD,
				CENTER_ID,
				CONFIRM_YN,
				USER_EMAIL
			FROM USER u, (select @rownum :=0) r, common_code cc
			<include refid="kr.co.dwebss.child.dao.UserMapper.WhereQuery" />
			and u.user_role_cd = cc.code
			ORDER BY USER_ID DESC
		) A
		where A.rownum LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>
    
    <select id="selectListCnt" parameterType="kr.co.dwebss.child.model.User" resultType="INTEGER">
    	SELECT COUNT(*) FROM (
			SELECT 
				USER_ID ,
				USER_ROLE_CD , 
				USER_NM , 
				USER_PHONE,
				USER_LOGIN_ID,
				USER_PASSWORD,
				CENTER_ID
			FROM USER
			<include refid="kr.co.dwebss.child.dao.UserMapper.WhereQuery" />
			ORDER BY USER_ID
		) A
    </select>
    
</mapper>